@model DepartementViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Departement</h1>
<br />

<div asp-validation-summary="All">  </div>

<form asp-action="Edit" enctype="multipart/form-data">

    <div class="form-group">

        <input asp-for="FileName" hidden />

        @*Image*@
        <div class="form-group">
            <label class="col-form-label" asp-for="file"></label>
            <input class=" form-control" asp-for="file" />
        </div>
       
        <label class="col-form-label" asp-for="Code"></label>
        <input class=" form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span> 
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class=" form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input class=" form-control" asp-for="DateOfCreation" />
        <span asp-validation-for="DateOfCreation" class="text-danger"></span>
    </div>

    <input type="submit" value="Save" class="btn btn-info" />
    <a asp-action="Index" asp-controller="Departement">| Back To List</a>  @*Back To List*@

</form>


